th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
body {
    background-color: lightgray;
}
p1 {
    color: maroon;
}
section{
    text-align:right;
}